/* All common shared code is here */
* {
  margin: 0px;
  padding: 0px;
  font-family: "Lato", sans-serif;
}
.span {
  color: #e55473;
}
.btn {
  border-radius: 8px;
  background: #e55473;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 43px;
  border: none;
}
.btn:hover {
  box-shadow: 1px 1px 10px 1px rgba(13, 13, 13, 0.487);
}
.center {
  width: 1440px;
  margin: 0 auto;
}
a {
  color: #272727;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
}
/* All common shared code is here */

/* Header section style starts here */
header {
  display: flex;
  justify-content: space-around;
  background: rgba(229, 84, 115, 0.1);
}
.banner-content {
  margin: 197px 0px 147px 240px;
}
.banner-title {
  color: #272727;
  font-size: 78px;
  font-weight: 800;
}
.banner-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 32px 0px;
  margin-right: 100px;
}
.banner-flower-img {
  margin: 50px 240px 0px 97px;
}
/* Header section style ends here */

/* Main section style starts here */
/* Featured section style starts here */
.featured-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 178px;
}
.featured-img {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.featured-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.featured-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.featured-img1 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  height: 400px;
  width: 290px;
  padding: 110px 76px 0px 76px;
  margin-bottom: 32px;
}
.featured-img2 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  height: 400px;
  width: 290px;
  padding: 110px 76px 0px 76px;
  margin-bottom: 32px;
}
.featured-img3 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  height: 400px;
  width: 290px;
  padding: 110px 76px 0px 76px;
  margin-bottom: 32px;
}
/* Featured section style ends here */

/* Service section style starts here */
.service-section {
  display: flex;
  justify-content: space-around;
  padding: 86px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  width: 1205px;
  margin-top: 128px;
}
.service-section div {
  text-align: center;
  color: rgba(39, 39, 39, 0.8);
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
}
/* Service section style ends here */

/* Advertisement section style starts here */
.advertisement-section {
  display: flex;
  justify-content: space-around;
  background: rgba(229, 84, 115, 0.1);
  background: rgba(229, 84, 115, 0.05);
  margin-top: 125px;
  text-align: center;
  margin-bottom: 100px;
}
.advertisement-content {
  margin: 230px 0px 162px 395px;
}
.advertisement-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.advertisement-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 32px 0px;
  margin-right: 25px;
}
.advertisement-flower-img {
  margin: 100px 429px 100px 186px;
  width: 500px;
}
/* Advertisement section style ends here */

/* Flowers collection style starts here */
.flowers-collection {
  text-align: center;
}
.flower-collection-title {
  margin-bottom: 32px;
  color: #272727;
  font-size: 78px;
  font-weight: 800;
}
.f-c-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 32px 0px;
}
.flower-collection-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
.flower-images {
  width: 350px;
  height: 400px;
  border-radius: 45px;
}
.flower-images:hover {
  box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.538);
}
.flower-collection-title {
  color: #272727;
  font-size: 70px;
  font-weight: 800;
  margin-top: 40px;
}
.fc-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 48px;
}
/* Flowers collection style ends here */

/* Instagram section style starts here */
.instagram-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin-bottom: 128px;
  margin-top: 128px;
}
.instagram-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.instagram-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 594px;
  margin-bottom: 24px;
}
.instagram-img-section {
  display: flex;
  gap: 24px;
}
/* Instagram section style ends here */

/* Subscribe section style starts here */
.subscribe-section {
  background-image: url("../images/Rectangle\ 9.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 110px 0px;
  border-radius: 8px;
  gap: 16px;
}
.subscribe-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.subscribe-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 32px;
}
form input[type="email"] {
  border-radius: 8px;
  background: #fff;
  padding: 23px 0px 23px 22px;
  width: 700px;
  border: none;
  margin: 16px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 16px;
  font-weight: 400;
}
/* Subscribe section style ends here */
/* Main section ends here */

/* Footer section style starts here */
.footer-container {
  padding: 128px;
  margin-top: 128px;
  background: #111010;
}
.footer-title {
  color: #fff;
  font-size: 48px;
  font-weight: 800;
  text-align: center;
}
.footer-description {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 24px;
  margin-bottom: 32px;
}
.copyright-warning {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
/* Footer section style ends here */
